/*

General

*/

html {
    font-size: 1.0em;
}
#toolform .steps li, #toolform .actions li  {    
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
    border-radius: 0.3em;
}


#toolform .steps > ul, #toolform .actions > ul {
    list-style-type: none;
    margin: 0em;
}

#toolform > .content > h3 {
    display: none;
}

#toolform > .content > h3.current {
    display: block;
}

.checkboxIntro{
    font-size: 1.1em;
}

.explanation {
    display: none;
    /* border: 1px solid grey; */
    color: #007bb8;
} 

/* question divs */
fieldset > div {
    padding-bottom: 1.5em;
}

.conditionalQuestion {
    display: none;
}

.radioQuestion label {
    display: inline;
}

.extrainfo {
    display: none;
    border: 1px solid #888888; 
    background-color: #cccccc;
    margin: 0.5em;
    font-size: 0.8em;
}

#voorvragen {
    display: none;
}

#begrippenlijst {
    /* display: none; */
}
/*

Steps specific

*/

#toolform .steps .current-info {
    left: -999em;
    position: absolute;
}

#toolform .steps {
    float: left;
    padding-right: 1em;
    padding-left: 0px;
    /* width: 10em; for vertical */
    width: 100%; /* for horizontal */
}


#toolform .steps > ul {
    padding: 0em;
}

#toolform .steps li {
    color: #64686B;
    background-color: #cccccc;
    float: left; /* for horizontal */
    margin-right: 0.5em; /* for horizontal */
    width: 130px; /* for horizontal */
}

#toolform .steps a  {
    color: #ffffff;
    font-size: 1.0em;
    text-decoration: none;
}

#toolform .steps li.done {
    background-color: #97C000;
}

#toolform .steps li.current {
    background-color: #007BB8;
}

#toolform .steps li.done a {
    color: #eeeeee;
}

#toolform .steps li.current a {
    color: #ffffff;
    font-weight: bold;
}

/*
Actions
*/

#toolform .actions li  {
    display: inline;
}


#toolform .actions {
    text-align: right;
    
}

#toolform .actions > ul {
    padding-top: 0.5em;
}
#toolform .actions li {
    background-color: #007BB8;
    color: #ffffff;
    margin-left: 0.5em;
}

#toolform .actions li a {
    color: #ffffff;
    font-size: 1.2em;
    text-decoration: none;
}

#toolform .actions li.disabled {
    color: #64686B;
    background-color: #cccccc;
}
