/* ******************************
General styling and overrule some Geonovum styles
****************************** */

html {
    font-size: 1.0em;
}

hgroup {
    display: none;
} 

#content-header {
    text-align: center;
}

#main {
    padding-top: 2em;
}

#page {
    min-width: 480px;
}

#header, #content, #navigation .region, .one-sidebar .inner, .two-sidebars .inner, #breadcrumb .inner, #carousel .carousel-inner, #footer .inner {
    min-width: 460px;
    width: auto;
}

ol.alpha {
    list-style-type: lower-alpha;
}

ol.upperalpha {
    list-style-type: upper-alpha;   
}

ol.roman {
    list-style-type: upper-roman;
}

h2 {
    color: #007bb8;
}

/* 
contributor list
*/

#listcontributors {
    list-style-type: none;
}

div.contributor {
    display: inline-block;
    width: 220px;
}

div.organisation {
    display: inline;
}

#listcontributors .contributor.title, #listcontributors .title{
    font-weight: bold;
}

#content-area > div {
    padding: 0.5em;
}

/* ******************************
Styling of the questionaire and tabs
****************************** */

#toolform section {
    min-height: 420px;
}
#toolform .steps li, #toolform .actions li, a.btn  {    
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
    border-radius: 0.3em;
}


#toolform .steps > ul, #toolform .actions > ul {
    list-style-type: none;
    margin: 0em;
}

#toolform > .content > h3 {
    display: none;
}

#toolform > .content > h3.current {
    display: block;
}

.checkboxIntro{
    font-size: 1.1em;
}

.explanation {
    display: none;
    /* border: 1px solid grey; */
    color: #007bb8;
} 

/* question divs */
fieldset {
    background-color: #ffffff;
    margin-top: 1em;
}
fieldset > div {
    padding-bottom: 1.5em;
}

.inputarea {
    float: right;
}

.conditionalQuestion {
    display: none;
}

.radioQuestion label {
    display: inline;
}

.extrainfo {
    display: none;
    border: 1px solid #888888; 
    background-color: #cccccc;
    margin: 0.5em;
    font-size: 0.8em;
}

#voorvragen {
    display: none;
}

#toolform , #begrippenlijst {
    /* display: none; */
    background-color: #eeeeee;
}

#begrippenlijst > h4 {
    margin-bottom: 0.5em;
}
#begrippenlijst > p {
    margin-left: 5em;
    margin-top: 0.5em;
}

/* **************************
Steps styling
************************** */

#toolform {
    padding: 0.5em;
}

#toolform .steps .current-info {
    left: -999em;
    position: absolute;
}

#toolform .steps {
    float: left;
    padding-right: 1em;
    padding-left: 0px;
    /* width: 10em; for vertical */
    width: 100%; /* for horizontal */
}


#toolform .steps > ul {
    padding: 0em;
}

#toolform .steps li {
    color: #64686B;
    background-color: #cccccc;
    float: left; /* for horizontal */
    margin-right: 0.5em; /* for horizontal */
    width: 130px; /* for horizontal */
}

#toolform .steps a  {
    color: #ffffff;
    font-size: 1.0em;
    text-decoration: none;
}

#toolform .steps li.done {
    background-color: #97C000;
}

#toolform .steps li.current {
    background-color: #007BB8;
}

#toolform .steps li.done a {
    color: #eeeeee;
}

#toolform .steps li.current a {
    color: #ffffff;
    font-weight: bold;
}

/* **************************
Actions
*************************** */

#toolform .actions li  {
    display: inline;
}


#toolform .actions {
    text-align: right;
    padding: 1em;
}

#toolform .actions > ul {
    padding-top: 0.5em;
}
#toolform .actions li, a.btn {
    background-color: #007BB8;
    color: #ffffff;
    margin-left: 0.5em;
    box-shadow: 0.3em 0.3em 0.3em #cccccc;
}

#toolform .actions li a, a.btn {
    color: #ffffff;
    font-size: 1.2em;
    text-decoration: none;
}

#toolform .actions li.disabled {
    color: #64686B;
    background-color: #bbbbbb;
}


